Makefile
/Makefile.am
Makefile.in
*.m4
*.ami
autom4te.cache
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
coverage/
depcomp
doc/autodocs
install-sh
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
stamp-h*
sysconfig.pot
testsuite/raw.tmp.*
Makefile.am.common
.yardoc/
