
Firewall  descr "<p></p> <p><b>Firewall settings</b></p> <p>See /usr/doc/packages/firewall for a detailed description</p>  "
START_SNMPD type boolean
START_GPM type boolean
START_NTOPD type boolean
START_ISAPNP type boolean
START_PCMCIA type boolean
START_NAMED type boolean
START_RSTATD type boolean
START_INETD type boolean
START_XNTPD type boolean
START_LPD type boolean
START_IDENTD type boolean
START_NETPLAN type boolean
START_WWWOFFLE type boolean
START_YPXFRD type boolean
Start-variables  descr "Configure which deamons should be started "
START_SCANLOGD type boolean
START_BWNFSD type boolean
START_RUSERSD type boolean
START_ROUTED type boolean
START_DHCRELAY type boolean
START_LOOPBACK type boolean
START_INN type boolean
START_HYLAFAX type boolean
START_QUOTA type boolean
START_RADIUSD type boolean
START_ARGUS type boolean
START_AXNET type boolean
START_PORTMAP type boolean
START_NSCD type boolean
START_KERNELD type boolean
START_PCNFSD type boolean
START_DHCPD type boolean
START_IRCD type boolean
START_CIPED type boolean
START_SMB type boolean
START_SSHD type boolean
START_ATD type boolean
START_RINETD type boolean
START_YPPASSWDD type boolean
START_YPSERV type boolean
START_THTTPD type boolean
START_LDAP type boolean
START_SLURPD type boolean
START_SQUID type boolean
START_HTTPD type boolean
START_WEBGW type boolean
START_IDEDMA type boolean
START_APMD type boolean
START_ATALK type boolean
START_RWHOD type boolean
START_AUTOFS type boolean
START_MARSNWE type boolean
MAX_DAYS_FOR_LOG_FILES type enum "14,31,90,180,365,0"
SUSEWM_WM type enum "\"fvwm,fvwm95 kdm,mwm kdm,kdm"
Isdn  descr "All network related rc-config variables  Please notice, typically you schoud use specialied YaST2 molules like the the network configuration, to configure your network. "
Hardware  descr "All hardware related rc-config variables "
FW_DNSSERVER  path  /Firewall
FW_NEWSFEED  path  /Firewall
FW_TRANSPROXY_OUT  path  /Firewall
FW_WORLD_DEV  path  /Firewall
FW_START  path  /Firewall
FW_MAILSERVER  path  /Firewall
FW_LOG_DENY  path  /Firewall
FW_FTPSERVER  path  /Firewall
FW_UDP_LOCKED_PORTS  path  /Firewall
FW_SSLPORT  path  /Firewall
FW_REDIRECT  path  /Firewall
FW_LOG_ACCEPT  path  /Firewall
FW_TRANSPROXY_IN  path  /Firewall
FW_NNTPSERVER  path  /Firewall
FW_WWWSERVER  path  /Firewall
FW_SSH  path  /Firewall
FW_LOCALNETS  path  /Firewall
FW_FRIENDS  path  /Firewall
FW_ROUTER  path  /Firewall
FW_SSLSERVER  path  /Firewall
FW_INOUT  path  /Firewall
FW_TCP_LOCKED_PORTS  path  /Firewall
FW_INT_DEV  path  /Firewall
START_SNMPD  path  /Start-variables
START_GPM  path  /Start-variables
START_NTOPD  path  /Start-variables
START_ISAPNP  path  /Start-variables
START_PCMCIA  path  /Start-variables
START_NAMED  path  /Start-variables
START_RSTATD  path  /Start-variables
START_INETD  path  /Start-variables
START_XNTPD  path  /Start-variables
START_LPD  path  /Start-variables
START_IDENTD  path  /Start-variables
START_NETPLAN  path  /Start-variables
START_WWWOFFLE  path  /Start-variables
START_YPXFRD  path  /Start-variables
START_SCANLOGD  path  /Start-variables
START_BWNFSD  path  /Start-variables
START_RUSERSD  path  /Start-variables
START_ROUTED  path  /Start-variables
START_DHCRELAY  path  /Start-variables
START_LOOPBACK  path  /Start-variables
START_INN  path  /Start-variables
START_HYLAFAX  path  /Start-variables
START_QUOTA  path  /Start-variables
START_RADIUSD  path  /Start-variables
START_ARGUS  path  /Start-variables
START_AXNET  path  /Start-variables
START_PORTMAP  path  /Start-variables
START_NSCD  path  /Start-variables
START_KERNELD  path  /Start-variables
START_PCNFSD  path  /Start-variables
START_DHCPD  path  /Start-variables
START_IRCD  path  /Start-variables
START_CIPED  path  /Start-variables
START_SMB  path  /Start-variables
START_SSHD  path  /Start-variables
START_ATD  path  /Start-variables
START_RINETD  path  /Start-variables
START_YPPASSWDD  path  /Start-variables
START_YPSERV  path  /Start-variables
START_THTTPD  path  /Start-variables
START_LDAP  path  /Start-variables
START_SLURPD  path  /Start-variables
START_SQUID  path  /Start-variables
START_HTTPD  path  /Start-variables
START_WEBGW  path  /Start-variables
START_IDEDMA  path  /Start-variables
START_APMD  path  /Start-variables
START_ATALK  path  /Start-variables
START_RWHOD  path  /Start-variables
START_AUTOFS  path  /Start-variables
START_MARSNWE  path  /Start-variables
Max_days_for  path  /Common
MAX_DAYS_IN_TMP  path  /Common/Max_days_for
MAX_DAYS_FOR_LOG_FILES  path  /Common/Max_days_for
MAX_DAYS_FOR_CORE  path  /Common/Max_days_for
Login  path  /Common
KDM_GREETSTRING  path  /Common/Login
KDM_USERS  path  /Common/Login
KDM_SHUTDOWN  path  /Common/Login
KDM_BACKGROUND  path  /Common/Login
Localisation  path  /Common
RC_LC_NUMERIC  path  /Common/Localisation
RC_LC_ALL  path  /Common/Localisation
RC_LANG  path  /Common/Localisation
RC_LC_COLLATE  path  /Common/Localisation
RC_LC_TIME  path  /Common/Localisation
RC_LC_MONETARY  path  /Common/Localisation
TIMEZONE  path  /Common/Localisation
RC_LC_CTYPE  path  /Common/Localisation
RC_LC_MESSAGES  path  /Common/Localisation
GMT  path  /Common/Localisation
Time_sync  path  /Common
XNTPD_KERNEL_TICK  path  /Common/Time_sync
XNTPD_INITIAL_NTPDATE  path  /Common/Time_sync
Console  path  /Common
CONSOLE_SCREENMAP  path  /Common/Console
CONSOLE_SHUTDOWN  path  /Common/Console
CONSOLE_UNICODEMAP  path  /Common/Console
CONSOLE_MAGIC  path  /Common/Console
CONSOLE_FONT  path  /Common/Console
SuSE_WM  path  /Desktop
SUSEWM_MWM  path  /Desktop/SuSE_WM
SUSEWM_COMPAT  path  /Desktop/SuSE_WM
SUSEWM_XPM  path  /Desktop/SuSE_WM
SUSEWM_UPDATE  path  /Desktop/SuSE_WM
SUSEWM_ADD  path  /Desktop/SuSE_WM
SUSEWM_WM  path  /Desktop/SuSE_WM
Isdn  path  /Network
Connection_3  path  /Network/Isdn
I4L_LOCALMSN_3  path  /Network/Isdn/Connection_3
I4L_IDLETIME_3  path  /Network/Isdn/Connection_3
I4L_CBHUP_3  path  /Network/Isdn/Connection_3
I4L_SECURE_3  path  /Network/Isdn/Connection_3
I4L_SLAVE_3  path  /Network/Isdn/Connection_3
I4L_REMOTE_OUT_3  path  /Network/Isdn/Connection_3
I4L_IHUP_3  path  /Network/Isdn/Connection_3
I4L_CBDELAY_3  path  /Network/Isdn/Connection_3
I4L_DIALMODE_3  path  /Network/Isdn/Connection_3
I4L_DIALMAX_3  path  /Network/Isdn/Connection_3
I4L_REMOTE_IN_3  path  /Network/Isdn/Connection_3
I4L_PPPBIND_3  path  /Network/Isdn/Connection_3
I4L_L2_3  path  /Network/Isdn/Connection_3
I4L_ENCAP_3  path  /Network/Isdn/Connection_3
I4L_CHARGEHUP_3  path  /Network/Isdn/Connection_3
I4L_L3_3  path  /Network/Isdn/Connection_3
I4L_CALLBACK_3  path  /Network/Isdn/Connection_3
Connection_1  path  /Network/Isdn
I4L_TYPE_1  path  /Network/Isdn/Connection_1
I4L_SUBTYPE_1  path  /Network/Isdn/Connection_1
I4L_IHUP_1  path  /Network/Isdn/Connection_1
I4L_CHARGEHUP_1  path  /Network/Isdn/Connection_1
I4L_IO1_1  path  /Network/Isdn/Connection_1
I4L_HISAXDEBUG_1  path  /Network/Isdn/Connection_1
I4L_DIALMAX_1  path  /Network/Isdn/Connection_1
I4L_IO_1  path  /Network/Isdn/Connection_1
I4L_CBHUP_1  path  /Network/Isdn/Connection_1
I4L_SECURE_1  path  /Network/Isdn/Connection_1
I4L_REMOTE_IN_1  path  /Network/Isdn/Connection_1
I4L_IO0_1  path  /Network/Isdn/Connection_1
I4L_PPPBIND_1  path  /Network/Isdn/Connection_1
I4L_MODUL_OPTIONS_1  path  /Network/Isdn/Connection_1
I4L_CBDELAY_1  path  /Network/Isdn/Connection_1
I4L_SLAVE_1  path  /Network/Isdn/Connection_1
I4L_REMOTE_OUT_1  path  /Network/Isdn/Connection_1
I4L_IO2_1  path  /Network/Isdn/Connection_1
I4L_ID_1  path  /Network/Isdn/Connection_1
I4L_PROTOCOL_1  path  /Network/Isdn/Connection_1
I4L_CALLBACK_1  path  /Network/Isdn/Connection_1
I4L_L3_1  path  /Network/Isdn/Connection_1
I4L_ENCAP_1  path  /Network/Isdn/Connection_1
I4L_IDLETIME_1  path  /Network/Isdn/Connection_1
I4L_DIALMODE_1  path  /Network/Isdn/Connection_1
I4L_EAZMAP_1  path  /Network/Isdn/Connection_1
I4L_MEMBASE_1  path  /Network/Isdn/Connection_1
I4L_L2_1  path  /Network/Isdn/Connection_1
I4L_IRQ_1  path  /Network/Isdn/Connection_1
I4L_LOCALMSN_1  path  /Network/Isdn/Connection_1
I4L_VERBOSE  path  /Network/Isdn
I4L_START  path  /Network/Isdn
Connection_0  path  /Network/Isdn
I4L_SECURE_0  path  /Network/Isdn/Connection_0
I4L_LOCALMSN_0  path  /Network/Isdn/Connection_0
I4L_DIALMAX_0  path  /Network/Isdn/Connection_0
I4L_SLAVE_0  path  /Network/Isdn/Connection_0
I4L_REMOTE_OUT_0  path  /Network/Isdn/Connection_0
I4L_CBHUP_0  path  /Network/Isdn/Connection_0
I4L_CALLBACK_0  path  /Network/Isdn/Connection_0
I4L_IDLETIME_0  path  /Network/Isdn/Connection_0
I4L_PPPBIND_0  path  /Network/Isdn/Connection_0
I4L_L2_0  path  /Network/Isdn/Connection_0
I4L_CBDELAY_0  path  /Network/Isdn/Connection_0
I4L_ENCAP_0  path  /Network/Isdn/Connection_0
I4L_REMOTE_IN_0  path  /Network/Isdn/Connection_0
I4L_L3_0  path  /Network/Isdn/Connection_0
I4L_DIALMODE_0  path  /Network/Isdn/Connection_0
I4L_IHUP_0  path  /Network/Isdn/Connection_0
I4L_CHARGEHUP_0  path  /Network/Isdn/Connection_0
Connection_2  path  /Network/Isdn
I4L_REMOTE_IN_2  path  /Network/Isdn/Connection_2
I4L_DIALMODE_2  path  /Network/Isdn/Connection_2
I4L_ENCAP_2  path  /Network/Isdn/Connection_2
I4L_REMOTE_OUT_2  path  /Network/Isdn/Connection_2
I4L_IDLETIME_2  path  /Network/Isdn/Connection_2
I4L_SLAVE_2  path  /Network/Isdn/Connection_2
I4L_CHARGEHUP_2  path  /Network/Isdn/Connection_2
I4L_CBHUP_2  path  /Network/Isdn/Connection_2
I4L_DIALMAX_2  path  /Network/Isdn/Connection_2
I4L_LOCALMSN_2  path  /Network/Isdn/Connection_2
I4L_CBDELAY_2  path  /Network/Isdn/Connection_2
I4L_L2_2  path  /Network/Isdn/Connection_2
I4L_PPPBIND_2  path  /Network/Isdn/Connection_2
I4L_CALLBACK_2  path  /Network/Isdn/Connection_2
I4L_IHUP_2  path  /Network/Isdn/Connection_2
I4L_L3_2  path  /Network/Isdn/Connection_2
I4L_SECURE_2  path  /Network/Isdn/Connection_2
I4L_VERBOSE_LEVEL  path  /Network/Isdn
Masquerading  path  /Network
MSQ_MODULES  path  /Network/Masquerading
MSQ_DEV  path  /Network/Masquerading
MSQ_START  path  /Network/Masquerading
MSQ_NETWORKS  path  /Network/Masquerading
YP_\_NIS  path  /Network
USE_NIS_FOR_AUTOFS  path  /Network/YP_\_NIS
USE_NISPLUS_FOR_AUTOFS  path  /Network/YP_\_NIS
YP_DOMAINNAME  path  /Network/YP_\_NIS
YPPWD_SRCDIR  path  /Network/YP_\_NIS
YP_SERVER  path  /Network/YP_\_NIS
Base  path  /Network
IP  path  /Network/Base
IP_TCP_SYNCOOKIES  path  /Network/Base/IP
IP_DYNIP  path  /Network/Base/IP
IP_FORWARD  path  /Network/Base/IP
DNS  path  /Network/Base
NAMESERVER  path  /Network/Base/DNS
SEARCHLIST  path  /Network/Base/DNS
CREATE_RESOLVCONF  path  /Network/Base/DNS
Connection_3  path  /Network/Base
NETDEV_3  path  /Network/Base/Connection_3
IFCONFIG_3  path  /Network/Base/Connection_3
IPADDR_3  path  /Network/Base/Connection_3
etc_hosts  path  /Network/Base
BEAUTIFY_ETC_HOSTS  path  /Network/Base/etc_hosts
CHECK_ETC_HOSTS  path  /Network/Base/etc_hosts
Connection_1  path  /Network/Base
IPADDR_1  path  /Network/Base/Connection_1
IFCONFIG_1  path  /Network/Base/Connection_1
NETDEV_1  path  /Network/Base/Connection_1
NETCONFIG  path  /Network/Base
News  path  /Network/Base
ORGANIZATION  path  /Network/Base/News
NNTPSERVER  path  /Network/Base/News
Connection_0  path  /Network/Base
NETDEV_0  path  /Network/Base/Connection_0
IFCONFIG_0  path  /Network/Base/Connection_0
IPADDR_0  path  /Network/Base/Connection_0
FQHOSTNAME  path  /Network/Base
Connection_2  path  /Network/Base
NETDEV_2  path  /Network/Base/Connection_2
IPADDR_2  path  /Network/Base/Connection_2
IFCONFIG_2  path  /Network/Base/Connection_2
SETUPDUMMYDEV  path  /Network/Base
CREATE_HOSTCONF  path  /Network/Base
PCMCIA  path  /Hardware
PCMCIA_CORE_OPTS  path  /Hardware/PCMCIA
PCMCIA  path  /Hardware/PCMCIA
PCMCIA_PCIC_OPTS  path  /Hardware/PCMCIA
Keyboard  path  /Hardware
KBD_DELAY  path  /Hardware/Keyboard
KBD_NUMLOCK  path  /Hardware/Keyboard
KBD_RATE  path  /Hardware/Keyboard
KBD_CAPSLOCK  path  /Hardware/Keyboard
KBD_TTY  path  /Hardware/Keyboard
Mouse  path  /Hardware
NFS  path  /Network-services
NFS_SERVER_UGID  path  /Network-services/NFS
NFS_SERVER  path  /Network-services/NFS
SMTP  path  /Mail
Sendmail  path  /Mail
SENDMAIL_EXPENSIVE  path  /Mail/Sendmail
SENDMAIL_RELAY  path  /Mail/Sendmail
SENDMAIL_NOCANONIFY  path  /Mail/Sendmail
SENDMAIL_TYPE  path  /Mail/Sendmail
SENDMAIL_LOCALHOST  path  /Mail/Sendmail
SENDMAIL_DIALUP  path  /Mail/Sendmail
SENDMAIL_NODNS  path  /Mail/Sendmail
SENDMAIL_ARGS  path  /Mail/Sendmail
SENDMAIL_GENERICS_DOMAIN  path  /Mail/Sendmail
SENDMAIL_SMARTHOST  path  /Mail/Sendmail