
FW_ALLOW_PING_DMZ type boolean
Allow  descr "<p></p> <p>How is access allowed?</p> "
FW_ALLOW_INCOMING_HIGHPORTS_TCP type enum "yes,no,dns,ftp-data"
FW_ALLOW_FW_TRACEROUTE type boolean
FW_ALLOW_FW_SOURCEQUENCH type boolean
FW_ALLOW_PING_FW type boolean
FW_ALLOW_INCOMING_HIGHPORTS_UDP type enum "yes,no,dns,ftp-data"
FW_DEV_DMZ_eth1 mtype enum ",192.168.1.1,255.255.255.0"
Dev  descr "<p></p> <p>Firewall settings related to internet devices</p> "
FW_DEV_WORLD mtype enum "eth0,ippp0,ippp1"
FW_DEV_INT mtype enum "tr0,eth0,eth1,"
FW_DEV_DMZ mtype enum "tr0,eth0,eth1,"
FW_DEV_WORLD_ippp0 mtype enum ",10.0.0.1,255.255.255.0"
FW_DEV_INT_eth0 mtype enum ",192.168.1.1,255.255.255.0"
FW_MASQ_NETS mtype string
Masquerade  descr "<p></p> <p>Which masquerading modules should be loaded?</p> "
FW_MASQUERADE type boolean
FW_MASQ_MODULES mtype enum "autofw,cuseeme,ftp,irc,mfw,portfw,quake,raudio,user,vdolive,"
FW_MASQ_DEV mtype enum "ippp0,$FW_DEV_WORLD"
Firewall  descr "<p></p> <p><b>Firewall settings</b></p> <p>See /usr/doc/packages/firewall for detailed description</p> "
Log  descr "<p></p> <p>Which logging level should be enforced?</p> "
FW_LOG_ACCEPT_CRIT type boolean
FW_LOG_DENY_ALL type boolean
FW_LOG_DENY_CRIT type boolean
FW_LOG_ACCEPT_ALL type boolean
Forward  descr "<p></p> <p>What's allowed to be forwarded?</p> "
FW_FORWARD_MASQ_TCP mtype string
FW_FORWARD_MASQ_UDP mtype string
FW_FORWARD_UDP mtype string
FW_FORWARD_TCP mtype string
FW_REDIRECT_TCP mtype string
Redirect  descr "<p></p> <p>Which accesses to services should be redirected to a localport on the firewall machine?</p> "
FW_REDIRECT_UDP mtype string
FW_SERVICES_TRUSTED_UDP mtype enum ",syslog,time,ntp"
FW_SERVICES_INTERNAL_TCP mtype enum ",ssh,smtp,domain"
Services  descr "<p></p> <p>Which services on the firewall should be accessible from either the internet (or other untrusted networks), the dmz or internal (trusted networks)?</p> "
FW_SERVICES_TRUSTED_TCP mtype enum ",ssh"
FW_SERVICE_DHCLIENT type boolean
FW_SERVICES_DMZ_TCP mtype 
FW_SERVICES_EXTERNAL_UDP mtype enum ",domain"
FW_SERVICES_EXTERNAL_TCP mtype enum ",smtp,domain"
FW_SERVICE_SAMBA type boolean
FW_SERVICE_DHCPD type boolean
FW_SERVICE_DNS type boolean
FW_SERVICES_INTERNAL_UDP mtype enum ",domain"
FW_SERVICES_DMZ_UDP mtype enum ",domain,syslog"
FW_ROUTE type boolean
FW_PROTECT_FROM_INTERNAL type boolean
FW_KERNEL_SECURITY type boolean
FW_TRUSTED_NETS mtype string
FW_AUTOPROTECT_GLOBAL_SERVICES type boolean
Firewall-Common  descr "<p></p> <p>Basic firewall settings</p> "
FW_STOP_KEEP_ROUTING_STATE type boolean
SSHD_OPTS type string
PASSWD_USE_CRACKLIB type boolean
SNORT_OPTS mtype enum "-D,-c /etc/snort/snort-lib"
ROOT_LOGIN_REMOTE type boolean
SECUMOD_CAPBITS type enum "default,desktop,strict,paranoid"
Secumod  descr "<p></p> <p>Settings for the SuSE Secumod kernel module</p> "
SECUMOD_TPATHS mtype enum "/bin,/usr/bin,/sbin,/usr/sbin,/usr/X11R6/bin,/opt/kde/bin,/opt/gnome/bin"
SECUMOD_PARAMS mtype enum "hardlink=1,symlink=1,trace=1,systable=1,logging=1,persist=1"
Security  descr "<p></p> <p><b>Security settings</b></p> "
Network-Services  descr "<p></p> <p><b>Network-services settings</b></p> "
Service-basics  descr "<p></p> <p>General network services settings</p> "
IRCSERVER mtype string
NTOPD_IFACE type enum "eth0"
NTOPD_PORT type enum "3000"
ZOPE_PCGI type boolean
REEXPORT_NFS type boolean
PCNFSD_LPSPOOL type enum "/var/spool/lpd"
Nfs  descr "<p></p> <p>Configurations of the Net File System (NFS)</p> "
USE_KERNEL_NFSD_NUMBER type integer
NFS_SERVER_UGID type boolean
USE_KERNEL_NFSD type boolean
NFS_SERVER type boolean
DOC_HOST type enum "localhost"
Docserver  descr "<p></p> <p>Configurations for the central documentation server</p> "
DOC_SERVER type boolean
DOC_ALLOW type enum "LOCAL"
Desktop  descr "<p></p> <p><b>Desktop and Windowmanager settings</b></p> "
Desktop-Basics  descr "<p></p> <p>General windowmanager settings</p> "
DEFAULT_WM type enum "kde2,kde,gnome"
SuSE-WM  descr "<p></p> <p>Settings for SuSEwm</p> "
SUSEWM_XPM type boolean
SUSEWM_UPDATE type boolean
SUSEWM_WM mtype enum "all,kwm,fvwm,fvwm2,fvwm95,bowman,mwm,ctwm"
KWM  descr "<p></p> <p>Settings for the KDE Windowmanager (KWM)</p> "
KWM_GIMMICK_PIXMAP type enum ",chamelia.xpm"
USE_NIS_FOR_AUTOFS type boolean
Nis  descr "<p></p> <p>Configuration for the Network Information Services (NIS)</p> "
YPPWD_CHFN type boolean
YPPWD_CHSH type boolean
YPSERV_USEDNS type boolean
USE_NISPLUS_FOR_AUTOFS type boolean
CREATE_YP_CONF type boolean
YP_DOMAINNAME type string
YPPWD_SRCDIR type enum "/etc"
YP_SERVER type string
DHCRELAY_SERVERS mtype enum "127.0.0.1,127.0.0.2"
Dhcp  descr "<p></p> <p>Dynamic Host Configuration (DHCP) settings</p> "
DHCPD_INTERFACE type enum "eth0"
DHCLIENT_SET_HOSTNAME type boolean
DHCLIENT_SLEEP type integer
Network  descr "<p></p> <p><b>Network settings</b></p> "
CLOSE_CONNECTIONS type enum "true,false"
FQHOSTNAME type enum "linux.local"
SETUPDUMMYDEV type boolean
General  descr "<p></p> <p>General ISDN settings</p> "
I4L_VERBOSE type boolean
I4L_VERBOSE_LEVEL type enum "1,2,3"
Isdn  descr "<p></p> <p><b>Network related configurations</b></p> <p>Notice: typically you should use the specialied YaST2 modules to configure your network.</p> "
I4L_LOCALMSN_3 type string
I4L_IDLETIME_3 type integer
I4L_CBHUP_3 type enum "on,off"
I4L_SECURE_3 type enum "on,off"
Connection_3  descr "<p></p> <p>ISDN connection 3</p> "
I4L_SLAVE_3 type string
I4L_REMOTE_OUT_3 type string
I4L_IHUP_3 type enum "on,off"
I4L_SLAVEMSN_3 type string
I4L_CBDELAY_3 type enum "1,2,3"
I4L_DIALMODE_3 type enum "off,manual,auto"
I4L_DIALMAX_3 type integer
I4L_REMOTE_IN_3 type string
I4L_PPPBIND_3 type boolean
I4L_SLAVE_IN_3 type string
I4L_L2_3 type enum "hdlc,x75i,x75ui,x75bui"
I4L_SLAVE_OUT_3 type string
I4L_ENCAP_3 type enum "rawip,syncppp,ip,cisco-h,ethernet,uihdlc"
I4L_CHARGEHUP_3 type enum "on,off"
Connection_3 type enum "off,in,out"
I4L_L3_3 type enum "trans"
I4L_CALLBACK_3 type enum "off,in,out"
I4L_SLAVEMSN_1 type string
I4L_TYPE_1 type integer
I4L_SUBTYPE_1 type enum "0"
I4L_IHUP_1 type enum "on,off"
I4L_CHARGEHUP_1 type enum "on,off"
I4L_IO1_1 type string
I4L_HISAXDEBUG_1 type enum ",1,2,3,4"
I4L_DIALMAX_1 type integer
Connection_1  descr "<p></p> <p>ISDN connection 1</p> "
I4L_IO_1 type enum "0x160"
I4L_CBHUP_1 type enum "on,off"
I4L_SECURE_1 type enum "on,off"
I4L_REMOTE_IN_1 type string
I4L_IO0_1 type string
I4L_PPPBIND_1 type boolean
I4L_MODUL_OPTIONS_1 type string
I4L_CBDELAY_1 type enum "1,2,3"
I4L_SLAVE_1 type string
I4L_REMOTE_OUT_1 type string
I4L_IO2_1 type string
I4L_ID_1 type enum "HiSax"
I4L_PROTOCOL_1 type enum "1,2,3"
I4L_CALLBACK_1 type enum "off,in,out"
I4L_L3_1 type enum "trans"
I4L_ENCAP_1 type enum "rawip,syncppp,ip,cisco-h,ethernet,uihdlc"
I4L_IDLETIME_1 type integer
I4L_DIALMODE_1 type enum "off,manual,auto"
I4L_EAZMAP_1 mtype string
I4L_SLAVE_OUT_1 type string
I4L_SLAVE_IN_1 type string
I4L_MEMBASE_1 type enum "0xd0000"
I4L_L2_1 type enum "hdlc,x75i,x75ui,x75bui"
I4L_IRQ_1 type enum ",5,12,15"
I4L_LOCALMSN_1 type string
I4L_SECURE_0 type enum "on,off"
I4L_SLAVEMSN_0 type string
I4L_LOCALMSN_0 type string
I4L_DIALMAX_0 type integer
I4L_SLAVE_0 type string
I4L_REMOTE_OUT_0 type string
I4L_CBHUP_0 type enum "on,off"
Connection_0  descr "<p></p> <p>ISDN connection 0</p> "
I4L_CALLBACK_0 type enum "off,in,out"
I4L_IDLETIME_0 type integer
I4L_PPPBIND_0 type boolean
I4L_L2_0 type enum "hdlc,x75i,x75ui,x75bui"
I4L_CBDELAY_0 type enum "1,2,3"
I4L_ENCAP_0 type enum "rawip,syncppp,ip,cisco-h,ethernet,uihdlc"
I4L_REMOTE_IN_0 type string
I4L_L3_0 type enum "trans"
I4L_DIALMODE_0 type enum "off,manual,auto"
I4L_IHUP_0 type enum "on,off"
I4L_SLAVE_OUT_0 type string
I4L_CHARGEHUP_0 type enum "on,off"
I4L_SLAVE_IN_0 type string
I4L_REMOTE_IN_2 type string
I4L_DIALMODE_2 type enum "off,manual,auto"
I4L_SLAVE_OUT_2 type string
I4L_ENCAP_2 type enum "rawip,syncppp,ip,cisco-h,ethernet,uihdlc"
I4L_REMOTE_OUT_2 type string
Connection_2  descr "<p></p> <p>ISDN connection 2</p> "
I4L_IDLETIME_2 type integer
I4L_SLAVE_2 type string
I4L_CHARGEHUP_2 type enum "on,off"
I4L_CBHUP_2 type enum "on,off"
I4L_SLAVEMSN_2 type string
I4L_DIALMAX_2 type integer
I4L_LOCALMSN_2 type string
I4L_CBDELAY_2 type enum "1,2,3"
I4L_L2_2 type enum "hdlc,x75i,x75ui,x75bui"
I4L_PPPBIND_2 type boolean
I4L_CALLBACK_2 type enum "off,in,out"
I4L_IHUP_2 type enum "on,off"
I4L_L3_2 type enum "trans"
I4L_SECURE_2 type enum "on,off"
I4L_SLAVE_IN_2 type string
PLIP_ROLE type enum "auto,server,client"
Plip  descr "<p></p> <p>Parallel IP (PLIP) settings</p> "
PLIP_ASYMMETRIC type boolean
PLIP_PARPORT type enum "0"
PLIP_NO type integer
PLIP_PARPORT_IRQ type enum "auto,7,5,10"
RX_CLASS type string
Rx  descr "<p>Configurations for Rx, a receiver for single files with XMODEM or XMODEM-1k  protols</p> "
RX_XDMCP type enum "query,indirect,broadcast"
RX_DSP type enum ",:0,:1,:2"
RX_RHOST type string
RX_BPP type string
Baycom-modem  descr "<p>Configuration for kernel drivers for simple Baycom style amateur radio modems</p> "
BAYCOMEPP_GWMODE type enum "-ipmode v,-ipmode d,-ipmode c"
BAYCOMEPP_MYIP type string
BAYCOMEPP_GWIP type string
BAYCOMEPP_EPPCONV type string
BAYCOMEPP_MYCALL type string
BAYCOMEPP_GWCALL type string
BAYCOMEPP_GWPATH type string
BAYCOMEPP_EPPIF type string
NO_PROXY type enum "localhost"
HTTP_PROXY type string
Proxy  descr "<p></p> <p>Proxy configurations</p> "
GOPHER_PROXY type string
FTP_PROXY type string
Conn_1  descr "<p></p> <p>Connection 1</p> "
IPADDR_1 type string
IFCONFIG_1 type enum ",bootp,dhclient"
NETDEV_1 type enum ",eth0"
Base  descr "<p></p> <p>Basic network settings</p> "
BEAUTIFY_ETC_HOSTS type boolean
CHECK_ETC_HOSTS type boolean
Conn_0  descr "<p></p> <p>Connection 0</p> "
NETDEV_0 type enum ",eth0"
IFCONFIG_0 type enum ",bootp,dhclient"
IPADDR_0 type string
NETDEV_2 type enum ",eth0"
Conn_2  descr "<p></p> <p>Connection 2</p> "
IPADDR_2 type string
IFCONFIG_2 type enum ",bootp,dhclient"
News  descr "<p></p> <p>Newsgroups settings</p> "
ORGANIZATION type string
NNTPSERVER type enum "news"
NAMESERVER mtype string
Dns  descr "<p></p> <p>Domain Name Service (DNS) settings</p> "
SEARCHLIST mtype enum ",local"
CREATE_RESOLVCONF type boolean
Ip  descr "<p></p> <p>IP settings</p> "
ARGUS_LOGFILE type enum "/var/log/argus.log"
ARGUS_INTERFACE type enum "eth0"
IP_TCP_SYNCOOKIES type boolean
IP_DYNIP type boolean
IP_FORWARD type boolean
Conn_3  descr "<p></p> <p>Connection 3</p> "
NETDEV_3 type enum ",eth0"
IFCONFIG_3 type enum ",bootp,dhclient"
IPADDR_3 type string
SVGATEXTMODE type string
Svga  descr "<p></p> <p>SVGA cards resolution settings</p> "
Power-Management  descr "<p></p> <p><b>Configurations for the power-management</b></p> "
SMARTUPS_MODEL type enum "apcsmart,bestups,genericups,ups-trust425+625,fentonups,optiups"
Ups  descr "<p></p> <p>Configurations for the Uninterruptible Power Supply (UPS)</p> "
GENERICUPS_MODEL type enum "0,1,2,3,4,5,6,7,8"
SMARTUPS_MASTER type enum "localhost"
SMARTUPS_DEVICE type enum ",ttyS1"
APMD_SUSPEND_ON_AC type boolean
APMD_BATTERY_METADATA_TIMEOUT type integer
APMD_BATTERY_LOW_SHUTDOWN type integer
APMD_PCMCIA_EJECT_ON_SUSPEND type boolean
APMD_WARN_LEVEL type integer
APMD_AC_DISK_TIMEOUT type integer
Apmd  descr "<p></p> <p>Configurations for the Advanced Power Management (APM) daemon</p> "
APMD_ADJUST_DISK_PERF type boolean
APMD_WARN_STEP type integer
APMD_AC_DATA_TIMEOUT type integer
APMD_BATTERY_FILL_LEVEL type integer
APMD_PCMCIA_SUSPEND_ON_SUSPEND type boolean
APMD_CHECK_TIME type integer
APMD_AC_METADATA_TIMEOUT type integer
APMD_LEAVE_X_BEFORE_SUSPEND type boolean
APMD_STOP_SOUND_BEFORE_SUSPEND type enum "no,alsa,oss,kernel"
APMD_AC_FILL_LEVEL type integer
APMD_DEBUG type boolean
APMD_WARN_ALL type boolean
APMD_BATTERY_DATA_TIMEOUT type integer
APMD_LEAVE_X_BEFORE_STANDBY type boolean
APMD_SET_CLOCK_ON_RESUME type boolean
APMD_BATTERY_DISK_TIMEOUT type integer
Hardware  descr "<p></p> <p><b>Hardware related rc-config variables</b></p> "
Modem  descr "<p></p> <p>Modem device</p> "
MODEM type enum "YAST_ASK,/dev/ttyS1"
Keyboard  descr "<p></p> <p>Keyboard configuration</p> "
KBD_DELAY type integer
KBD_NUMLOCK type boolean
KBD_RATE type integer
KBD_CAPSLOCK type boolean
KBD_TTY mtype enum "tty1,tty2,tty3,tty4,tty5,tty6"
IRDA_IRQ type integer
Infrared  descr "<p></p> <p>Configuration for the infrared interface</p> "
IRDA_PORT type enum ",/dev/ttyS1"
MOUSE type enum "/dev/psaux"
Mouse  descr "<p></p> <p>Mouse device</p> "
Usb  descr "<p></p> <p>Configuration of USB controllers</p> "
USB_HCI type enum ",auto,usb-uhci,usb-ohci,usb-ohci_hcd"
USB_DRIVERS mtype enum "usb-keyboard,mouse,acm,usb-serial,ezusb,usb-scsi,printer,hp_scanner,cpia,audio"
Network-Card  descr "<p></p> <p>Network cards</p> "
NETCONFIG mtype enum ",_0,_1,_2,_3"
Ide  descr "<p></p> <p>DMA support for devices</p> "
IDEDMA_DEVICES mtype enum ",hda,hdb,hdc,hdd,hde,hdf,hdg,hdh,hdi,hdj,hdk,hdl"
PCMCIA_CORE_OPTS type string
PCMCIA type enum ",i82365,tcic"
Pcmcia  descr "<p></p> <p>Configuration of the PCMCIA service</p> "
NETCONFIG_PCMCIA type string
PCMCIA_PCIC_OPTS mtype enum ",par1=val1,par2=val21,par3=val3"
Filesystem  descr "<p></p> <p><b>Filesystem settings</b></p> "
AUTOFS_OPTIONS type string
USE_DEVFS type boolean
Max-days-for  descr "<p></p> <p>Cleanup intervals</p> "
MAX_DAYS_IN_TMP type integer
MAX_DAYS_FOR_LOG_FILES type enum "14,31,90,180,365,0"
MAX_DAYS_FOR_CORE type integer
GPM_PARAM type string
Gpm  descr "<p></p> <p>Configurations for GPM, a cut and paste utility and mouse server for the virtual console</p> "
KDM_GREETSTRING type string
Login  descr "<p></p> <p>Login configuration</p> "
KDM_USERS type enum ",root"
KDM_SHUTDOWN type enum "root,all,none,local,auto"
DISPLAYMANAGER type enum "kdm,xdm,console"
KDM_BACKGROUND type enum "/opt/kde/share/wallpapers/suse-logo.xpm"
SORT_PASSWD_BY_UID type boolean
MAIL_LEVEL type enum "warn,all"
PERMISSION_SECURITY type enum "easy local,secure local"
MAIL_REPORTS_TO type enum "root,"
SuSEConfig  descr "<p></p> <p>Configurations for SuSEConfig</p> "
CHECK_INITTAB type boolean
CHECK_PERMISSIONS type enum "set,warn,no"
GENERATE_PERL_SYSTEM_INCLUDES type boolean
ENABLE_SUSECONFIG type boolean
HOW_TO_HANDLE_COMMERCIAL_LIBS type enum "link,no,clean"
CREATE_PERLLOCAL_POD type boolean
RC_LC_NUMERIC type string
Localisation  descr "<p></p> <p>Languages and timezones</p> "
RC_LC_ALL type string
ROOT_USES_LANG type enum "ctype"
RC_LANG type enum "de_DE,en_EN"
RC_LC_COLLATE type enum "POSIX"
RC_LC_TIME type string
RC_LC_MONETARY type string
TIMEZONE type enum "Europe/Berlin,Europe/London,Europe/Paris"
RC_LC_CTYPE type string
LANGUAGE type enum "german,english"
RC_LC_MESSAGES type string
GMT type enum "-u,"
Base-Administration  descr "<p></p> <p><b>Common rc-config variables</b></p> "
TMP_DIRS_TO_CLEAR mtype enum "/tmp,/var/tmp"
OWNER_TO_KEEP_IN_TMP mtype enum "root"
DELETE_OLD_CORE type boolean
Common-Basics  descr "<p></p> <p>General configurations about</p> <ul> <li>having . in root path,</li> <li>deletion of old core files,</li> <li>recoverage of system control,</li> <li>modules for initrd,</li> <li>loglevels,</li> <li>cleanup of tmp-directories,</li> <li>search path for init-scripts,</li> <li>parameters for system logging.</li> </ul> "
SYSLOGD_PARAMS mtype enum ",-r,-n"
INITRD_MODULES type string
PATH mtype enum "/sbin:,/bin:,/usr/sbin:,/usr/bin:"
KERNEL_LOGLEVEL type enum "0,1,2,3,4,5,6,7"
CWD_IN_ROOT_PATH type boolean
ENABLE_SYSRQ type boolean
Rpm  descr "<p></p> <p>Configurations for the Red Hat Package Manager (RPM)</p> "
MAX_RPMDB_BACKUPS type integer
RPMDB_BACKUP_DIR type enum "/var/adm/backup/rpmdb"
Time-synchronisation  descr "<p></p> <p>Time synchronisation with some other NTP server</p> "
XNTPD_INITIAL_NTPDATE type string
SER_CONSOLE_DEVICE type enum "/dev/ttyC0"
CONSOLE_SCREENMAP type enum "none"
Console  descr "<p></p> <p>Configurations for the console</p> "
CONSOLE_SHUTDOWN type enum "reboot,ignore,halt"
SER_CONSOLE_SCREENRC type enum "/etc/salt/screenrc"
CONSOLE_UNICODEMAP type enum "lat1u.uni,lat1u.uni,lat2u.uni,lat4.uni,lat4u.uni,lat7u.uni,iso01.uni,iso02.uni,iso03.uni,iso04.uni,iso05.uni,iso06.uni,iso07.uni,iso08.uni,iso09.uni,iso10.uni,iso15.uni"
KEYTABLE type enum "de-latin1-nodeadkeys.map.gz,de-latin1.map.gz,de.map.gz,de-lat1-nd.map.gz,us.map.gz,us-acentos.map.gz,uk.map.gz"
CONSOLE_MAGIC type enum "(B"
SER_CONSOLE_OWNER type enum "root"
CONSOLE_FONT type enum "lat1-16.psfu,lat2-16.psfu,default8x16.psfu,default8x9.psfu"
SERIAL_CONSOLE type string
SER_CONSOLE_SESSION type enum "console"
SMTP type boolean
Mail-basics  descr "<p></p> <p>General mail settings</p> "
FROM_HEADER type enum "YAST_ASK"
Mail  descr "<p></p> <p><b>Mail settings</b></p> "
SENDMAIL_EXPENSIVE type boolean
SENDMAIL_RELAY type string
SENDMAIL_NOCANONIFY type boolean
Sendmail  descr "<p></p> <p>Configurations for Sendmail - the electronic mail transport agent</p> "
SENDMAIL_TYPE type boolean
SENDMAIL_LOCALHOST type enum "localhost"
SENDMAIL_DIALUP type boolean
SENDMAIL_NODNS type boolean
SENDMAIL_ARGS mtype enum ",-bd,-q30m,-om"
SENDMAIL_GENERICS_DOMAIN type string
SENDMAIL_SMARTHOST type string
POSTFIX_CREATECF type boolean
Postfix  descr "<p></p> <p>Configurations for the Postfix mail server</p> "
POSTFIX_LOCALDOMAINS mtype enum ",localhost"
POSTFIX_NODNS type boolean
POSTFIX_DIALUP type boolean
POSTFIX_RELAYHOST type string
POSTFIX_MAILDROP_MODE type enum "nosgid,sgid"
POSTFIX_MASQUERADE_DOMAIN type string
POSTFIX_NULLCLIENT type boolean
Java  descr "<p></p> <p>Multithreading in Java</p> "
JAVARUNT_THREADS_TYPE type enum "green"
JAVA_THREADS_TYPE type enum "green"
Man-Info  descr "<p></p> <p>Configurations for man and info</p> "
CATMAN_ATIME type integer
CREATE_INFO_DIR type boolean
REINIT_MANDB type boolean
DELETE_OLD_CATMAN type boolean
UPDATEDB_NETUSER type enum ",nobody"
RUN_UPDATEDB_AS type enum "nobody,root"
Updatedb  descr "<p></p> <p>Configurations for the update of the file and name database used by locate</p> "
UPDATEDB_PRUNEPATHS mtype enum "/S.u.S.E.,/mnt,/cdrom,/tmp,/usr/tmp,/var/tmp,/var/spool,/proc"
UPDATEDB_NETPATHS type string
RUN_UPDATEDB type boolean
Base-Applications  descr "<p></p> <p><b>Settings for some applications</b></p> "
UPDATE_GROFF_CONF type boolean
Groff  descr "<p></p> <p>Configurations for the groff document formatting system</p> "
GROFF_PAGESIZE type enum "letter,legal,a4,b5"
Postgres  descr "<p></p> <p>Configuration for the relational DBMS Postgres</p> "
POSTGRES_DATADIR type enum "~postgres/data"
POSTGRES_OPTIONS type enum ",-i"
TeX  descr "<p></p> <p>Configurations for TeX Metafont</p> "
CLEAR_TEXMF_FONTS type boolean
DBCONTROL mtype string
Adabas  descr "<p></p> <p>Basic configurations for the relational database ADABAS D</p> "
DBNAME type string
DBROOT type string
DBUSER type string
START_USB type boolean
START_PCP type boolean
START_ISAPNP type boolean
START_PCMCIA type boolean
START_LPD type boolean
START_IRDA type boolean
Start-Hardware  descr "<p></p> <p>Start variables for hardware related deamons</p> "
START_SMARTUPS type boolean
START_IDEDMA type boolean
START_APMD type boolean
Start-Security  descr "<p></p> <p>Start variables for security-observing deamons</p> "
START_NESSUSD type boolean
START_SNORT type boolean
START_SECUMOD type boolean
Start-Variables  descr "<p></p> <p><b>Start-variables for deamons and services</b></p> <p>The configurations in this section determine which services and deamon processes should be launched at startup of your Linux system.</p> "
Start-Firewall  descr "<p></p> <p>Start variables for the firewall</p> "
START_FW type boolean
START_GPM type boolean
START_ACCT type boolean
Start-Administration  descr "<p></p> <p>Administrative start variables</p> "
START_QUOTA type boolean
START_IDLED type boolean
START_KERNELD type boolean
START_AUTOFS type boolean
START_SNMPD type boolean
START_DPBOX type boolean
START_QMASTER type boolean
Unarranged  descr "<p></p> <p>Ungrouped start variables</p> "
START_PPTPD type boolean
START_CIPED type boolean
START_UNI type boolean
START_FBB type boolean
START_DQSEXECD type boolean
XFSTT_START type boolean
START_IDS type boolean
START_WWWOFFLE type boolean
Start-Applications  descr "<p></p> <p>Start variables for some applications</p> "
START_ARKEIA type boolean
START_YIFF type boolean
CRON type boolean
START_MYSQL type boolean
START_ADABAS type boolean
START_POSTGRES type boolean
START_ATD type boolean
Start-Mail  descr "<p></p> <p>Start variables for mail servers</p> "
START_POSTFIX type boolean
START_PLIP type boolean
START_NTOPD type boolean
START_RSTATD type boolean
PPPD_DOD_START type boolean
START_XNTPD type boolean
START_IDENTD type boolean
START_YPXFRD type boolean
START_QUEUED type boolean
Start-Network  descr "<p></p> <p>Start variables for network deamons</p> "
START_IPPL type boolean
START_SCANLOGD type boolean
START_BAYCOMEPP type boolean
START_RX type boolean
START_UNDERSTUDY type boolean
START_RUSERSD type boolean
START_ROUTED type boolean
START_DHCRELAY type boolean
START_LOOPBACK type boolean
START_HYLAFAX type boolean
START_ARGUS type boolean
START_IPSEC type boolean
START_PORTMAP type boolean
START_NSCD type boolean
START_DHCPD type boolean
START_ADSL type boolean
I4L_START type boolean
START_RINETD type boolean
START_YPPASSWDD type boolean
START_YPSERV type boolean
START_LDAP type boolean
START_YPBIND type boolean
START_SLURPD type boolean
START_RWHOD type boolean
START_AOLSERVER type boolean
START_NAMED type boolean
START_INETD type boolean
START_APRSD type boolean
START_NETPLAN type boolean
Start-Network-Services  descr "<p></p> <p>Start variables for network service deamons like Apache and Samba</p> "
START_BWNFSD type boolean
START_ROXEN type boolean
START_INN type boolean
START_RADIUSD type boolean
START_PCNFSD type boolean
START_IRCD type boolean
START_SMB type boolean
START_SSHD type boolean
START_ZOPE type boolean
START_SOCKD type boolean
START_THTTPD type boolean
START_SQUID type boolean
START_XINETD type boolean
START_HTTPD type boolean
START_WEBGW type boolean
START_ATALK type boolean
START_MARSNWE type boolean
START_PROFTPD type boolean
Allow  path  /Firewall
FW_ALLOW_PING_DMZ  path  /Firewall/Allow
FW_ALLOW_INCOMING_HIGHPORTS_TCP  path  /Firewall/Allow
FW_ALLOW_FW_TRACEROUTE  path  /Firewall/Allow
FW_ALLOW_FW_SOURCEQUENCH  path  /Firewall/Allow
FW_ALLOW_PING_FW  path  /Firewall/Allow
FW_ALLOW_INCOMING_HIGHPORTS_UDP  path  /Firewall/Allow
Dev  path  /Firewall
FW_DEV_DMZ_eth1  path  /Firewall/Dev
FW_DEV_WORLD  path  /Firewall/Dev
FW_DEV_INT  path  /Firewall/Dev
FW_DEV_DMZ  path  /Firewall/Dev
FW_DEV_WORLD_ippp0  path  /Firewall/Dev
FW_DEV_INT_eth0  path  /Firewall/Dev
Masquerade  path  /Firewall
FW_MASQ_NETS  path  /Firewall/Masquerade
FW_MASQUERADE  path  /Firewall/Masquerade
FW_MASQ_MODULES  path  /Firewall/Masquerade
FW_MASQ_DEV  path  /Firewall/Masquerade
Log  path  /Firewall
FW_LOG_ACCEPT_CRIT  path  /Firewall/Log
FW_LOG_DENY_ALL  path  /Firewall/Log
FW_LOG_DENY_CRIT  path  /Firewall/Log
FW_LOG_ACCEPT_ALL  path  /Firewall/Log
Forward  path  /Firewall
FW_FORWARD_MASQ_TCP  path  /Firewall/Forward
FW_FORWARD_MASQ_UDP  path  /Firewall/Forward
FW_FORWARD_UDP  path  /Firewall/Forward
FW_FORWARD_TCP  path  /Firewall/Forward
Redirect  path  /Firewall
FW_REDIRECT_TCP  path  /Firewall/Redirect
FW_REDIRECT_UDP  path  /Firewall/Redirect
Services  path  /Firewall
FW_SERVICES_TRUSTED_UDP  path  /Firewall/Services
FW_SERVICES_INTERNAL_TCP  path  /Firewall/Services
FW_SERVICES_TRUSTED_TCP  path  /Firewall/Services
FW_SERVICE_DHCLIENT  path  /Firewall/Services
FW_SERVICES_DMZ_TCP  path  /Firewall/Services
FW_SERVICES_EXTERNAL_UDP  path  /Firewall/Services
FW_SERVICES_EXTERNAL_TCP  path  /Firewall/Services
FW_SERVICE_SAMBA  path  /Firewall/Services
FW_SERVICE_DHCPD  path  /Firewall/Services
FW_SERVICE_DNS  path  /Firewall/Services
FW_SERVICES_INTERNAL_UDP  path  /Firewall/Services
FW_SERVICES_DMZ_UDP  path  /Firewall/Services
Firewall-Common  path  /Firewall
FW_ROUTE  path  /Firewall/Firewall-Common
FW_PROTECT_FROM_INTERNAL  path  /Firewall/Firewall-Common
FW_KERNEL_SECURITY  path  /Firewall/Firewall-Common
FW_TRUSTED_NETS  path  /Firewall/Firewall-Common
FW_AUTOPROTECT_GLOBAL_SERVICES  path  /Firewall/Firewall-Common
FW_STOP_KEEP_ROUTING_STATE  path  /Firewall/Firewall-Common
Security-basics  path  /Security
SSHD_OPTS  path  /Security/Security-basics
PASSWD_USE_CRACKLIB  path  /Security/Security-basics
SNORT_OPTS  path  /Security/Security-basics
ROOT_LOGIN_REMOTE  path  /Security/Security-basics
Secumod  path  /Security
SECUMOD_CAPBITS  path  /Security/Secumod
SECUMOD_TPATHS  path  /Security/Secumod
SECUMOD_PARAMS  path  /Security/Secumod
Service-basics  path  /Network-Services
IRCSERVER  path  /Network-Services/Service-basics
NTOPD_IFACE  path  /Network-Services/Service-basics
NTOPD_PORT  path  /Network-Services/Service-basics
ZOPE_PCGI  path  /Network-Services/Service-basics
Nfs  path  /Network-Services
REEXPORT_NFS  path  /Network-Services/Nfs
PCNFSD_LPSPOOL  path  /Network-Services/Nfs
USE_KERNEL_NFSD_NUMBER  path  /Network-Services/Nfs
NFS_SERVER_UGID  path  /Network-Services/Nfs
USE_KERNEL_NFSD  path  /Network-Services/Nfs
NFS_SERVER  path  /Network-Services/Nfs
Docserver  path  /Network-Services
DOC_HOST  path  /Network-Services/Docserver
DOC_SERVER  path  /Network-Services/Docserver
DOC_ALLOW  path  /Network-Services/Docserver
Desktop-Basics  path  /Desktop
DEFAULT_WM  path  /Desktop/Desktop-Basics
SuSE-WM  path  /Desktop
SUSEWM_XPM  path  /Desktop/SuSE-WM
SUSEWM_UPDATE  path  /Desktop/SuSE-WM
SUSEWM_WM  path  /Desktop/SuSE-WM
KWM  path  /Desktop
KWM_GIMMICK_PIXMAP  path  /Desktop/KWM
Nis  path  /Network
USE_NIS_FOR_AUTOFS  path  /Network/Nis
YPPWD_CHFN  path  /Network/Nis
YPPWD_CHSH  path  /Network/Nis
YPSERV_USEDNS  path  /Network/Nis
USE_NISPLUS_FOR_AUTOFS  path  /Network/Nis
CREATE_YP_CONF  path  /Network/Nis
YP_DOMAINNAME  path  /Network/Nis
YPPWD_SRCDIR  path  /Network/Nis
YP_SERVER  path  /Network/Nis
Dhcp  path  /Network
DHCRELAY_SERVERS  path  /Network/Dhcp
DHCPD_INTERFACE  path  /Network/Dhcp
DHCLIENT_SET_HOSTNAME  path  /Network/Dhcp
DHCLIENT_SLEEP  path  /Network/Dhcp
Network-basics  path  /Network
CLOSE_CONNECTIONS  path  /Network/Network-basics
FQHOSTNAME  path  /Network/Network-basics
SETUPDUMMYDEV  path  /Network/Network-basics
Isdn  path  /Network
General  path  /Network/Isdn
I4L_VERBOSE  path  /Network/Isdn/General
I4L_VERBOSE_LEVEL  path  /Network/Isdn/General
Connection_3  path  /Network/Isdn
I4L_LOCALMSN_3  path  /Network/Isdn/Connection_3
I4L_IDLETIME_3  path  /Network/Isdn/Connection_3
I4L_CBHUP_3  path  /Network/Isdn/Connection_3
I4L_SECURE_3  path  /Network/Isdn/Connection_3
I4L_SLAVE_3  path  /Network/Isdn/Connection_3
I4L_REMOTE_OUT_3  path  /Network/Isdn/Connection_3
I4L_IHUP_3  path  /Network/Isdn/Connection_3
I4L_SLAVEMSN_3  path  /Network/Isdn/Connection_3
I4L_CBDELAY_3  path  /Network/Isdn/Connection_3
I4L_DIALMODE_3  path  /Network/Isdn/Connection_3
I4L_DIALMAX_3  path  /Network/Isdn/Connection_3
I4L_REMOTE_IN_3  path  /Network/Isdn/Connection_3
I4L_PPPBIND_3  path  /Network/Isdn/Connection_3
I4L_SLAVE_IN_3  path  /Network/Isdn/Connection_3
I4L_L2_3  path  /Network/Isdn/Connection_3
I4L_SLAVE_OUT_3  path  /Network/Isdn/Connection_3
I4L_ENCAP_3  path  /Network/Isdn/Connection_3
I4L_CHARGEHUP_3  path  /Network/Isdn/Connection_3
I4L_L3_3  path  /Network/Isdn/Connection_3
I4L_CALLBACK_3  path  /Network/Isdn/Connection_3
Connection_1  path  /Network/Isdn
I4L_SLAVEMSN_1  path  /Network/Isdn/Connection_1
I4L_TYPE_1  path  /Network/Isdn/Connection_1
I4L_SUBTYPE_1  path  /Network/Isdn/Connection_1
I4L_IHUP_1  path  /Network/Isdn/Connection_1
I4L_CHARGEHUP_1  path  /Network/Isdn/Connection_1
I4L_IO1_1  path  /Network/Isdn/Connection_1
I4L_HISAXDEBUG_1  path  /Network/Isdn/Connection_1
I4L_DIALMAX_1  path  /Network/Isdn/Connection_1
I4L_IO_1  path  /Network/Isdn/Connection_1
I4L_CBHUP_1  path  /Network/Isdn/Connection_1
I4L_SECURE_1  path  /Network/Isdn/Connection_1
I4L_REMOTE_IN_1  path  /Network/Isdn/Connection_1
I4L_IO0_1  path  /Network/Isdn/Connection_1
I4L_PPPBIND_1  path  /Network/Isdn/Connection_1
I4L_MODUL_OPTIONS_1  path  /Network/Isdn/Connection_1
I4L_CBDELAY_1  path  /Network/Isdn/Connection_1
I4L_SLAVE_1  path  /Network/Isdn/Connection_1
I4L_REMOTE_OUT_1  path  /Network/Isdn/Connection_1
I4L_IO2_1  path  /Network/Isdn/Connection_1
I4L_ID_1  path  /Network/Isdn/Connection_1
I4L_PROTOCOL_1  path  /Network/Isdn/Connection_1
I4L_CALLBACK_1  path  /Network/Isdn/Connection_1
I4L_L3_1  path  /Network/Isdn/Connection_1
I4L_ENCAP_1  path  /Network/Isdn/Connection_1
I4L_IDLETIME_1  path  /Network/Isdn/Connection_1
I4L_DIALMODE_1  path  /Network/Isdn/Connection_1
I4L_EAZMAP_1  path  /Network/Isdn/Connection_1
I4L_SLAVE_OUT_1  path  /Network/Isdn/Connection_1
I4L_SLAVE_IN_1  path  /Network/Isdn/Connection_1
I4L_MEMBASE_1  path  /Network/Isdn/Connection_1
I4L_L2_1  path  /Network/Isdn/Connection_1
I4L_IRQ_1  path  /Network/Isdn/Connection_1
I4L_LOCALMSN_1  path  /Network/Isdn/Connection_1
Connection_0  path  /Network/Isdn
I4L_SECURE_0  path  /Network/Isdn/Connection_0
I4L_SLAVEMSN_0  path  /Network/Isdn/Connection_0
I4L_LOCALMSN_0  path  /Network/Isdn/Connection_0
I4L_DIALMAX_0  path  /Network/Isdn/Connection_0
I4L_SLAVE_0  path  /Network/Isdn/Connection_0
I4L_REMOTE_OUT_0  path  /Network/Isdn/Connection_0
I4L_CBHUP_0  path  /Network/Isdn/Connection_0
I4L_CALLBACK_0  path  /Network/Isdn/Connection_0
I4L_IDLETIME_0  path  /Network/Isdn/Connection_0
I4L_PPPBIND_0  path  /Network/Isdn/Connection_0
I4L_L2_0  path  /Network/Isdn/Connection_0
I4L_CBDELAY_0  path  /Network/Isdn/Connection_0
I4L_ENCAP_0  path  /Network/Isdn/Connection_0
I4L_REMOTE_IN_0  path  /Network/Isdn/Connection_0
I4L_L3_0  path  /Network/Isdn/Connection_0
I4L_DIALMODE_0  path  /Network/Isdn/Connection_0
I4L_IHUP_0  path  /Network/Isdn/Connection_0
I4L_SLAVE_OUT_0  path  /Network/Isdn/Connection_0
I4L_CHARGEHUP_0  path  /Network/Isdn/Connection_0
I4L_SLAVE_IN_0  path  /Network/Isdn/Connection_0
Connection_2  path  /Network/Isdn
I4L_REMOTE_IN_2  path  /Network/Isdn/Connection_2
I4L_DIALMODE_2  path  /Network/Isdn/Connection_2
I4L_SLAVE_OUT_2  path  /Network/Isdn/Connection_2
I4L_ENCAP_2  path  /Network/Isdn/Connection_2
I4L_REMOTE_OUT_2  path  /Network/Isdn/Connection_2
I4L_IDLETIME_2  path  /Network/Isdn/Connection_2
I4L_SLAVE_2  path  /Network/Isdn/Connection_2
I4L_CHARGEHUP_2  path  /Network/Isdn/Connection_2
I4L_CBHUP_2  path  /Network/Isdn/Connection_2
I4L_SLAVEMSN_2  path  /Network/Isdn/Connection_2
I4L_DIALMAX_2  path  /Network/Isdn/Connection_2
I4L_LOCALMSN_2  path  /Network/Isdn/Connection_2
I4L_CBDELAY_2  path  /Network/Isdn/Connection_2
I4L_L2_2  path  /Network/Isdn/Connection_2
I4L_PPPBIND_2  path  /Network/Isdn/Connection_2
I4L_CALLBACK_2  path  /Network/Isdn/Connection_2
I4L_IHUP_2  path  /Network/Isdn/Connection_2
I4L_L3_2  path  /Network/Isdn/Connection_2
I4L_SECURE_2  path  /Network/Isdn/Connection_2
I4L_SLAVE_IN_2  path  /Network/Isdn/Connection_2
Plip  path  /Network
PLIP_ROLE  path  /Network/Plip
PLIP_ASYMMETRIC  path  /Network/Plip
PLIP_PARPORT  path  /Network/Plip
PLIP_NO  path  /Network/Plip
PLIP_PARPORT_IRQ  path  /Network/Plip
Modem  path  /Network
Rx  path  /Network/Modem
RX_CLASS  path  /Network/Modem/Rx
RX_XDMCP  path  /Network/Modem/Rx
RX_DSP  path  /Network/Modem/Rx
RX_RHOST  path  /Network/Modem/Rx
RX_BPP  path  /Network/Modem/Rx
Baycom-modem  path  /Network/Modem
BAYCOMEPP_GWMODE  path  /Network/Modem/Baycom-modem
BAYCOMEPP_MYIP  path  /Network/Modem/Baycom-modem
BAYCOMEPP_GWIP  path  /Network/Modem/Baycom-modem
BAYCOMEPP_EPPCONV  path  /Network/Modem/Baycom-modem
BAYCOMEPP_MYCALL  path  /Network/Modem/Baycom-modem
BAYCOMEPP_GWCALL  path  /Network/Modem/Baycom-modem
BAYCOMEPP_GWPATH  path  /Network/Modem/Baycom-modem
BAYCOMEPP_EPPIF  path  /Network/Modem/Baycom-modem
Proxy  path  /Network
NO_PROXY  path  /Network/Proxy
HTTP_PROXY  path  /Network/Proxy
GOPHER_PROXY  path  /Network/Proxy
FTP_PROXY  path  /Network/Proxy
Base  path  /Network
Conn_1  path  /Network/Base
IPADDR_1  path  /Network/Base/Conn_1
IFCONFIG_1  path  /Network/Base/Conn_1
NETDEV_1  path  /Network/Base/Conn_1
etc_hosts  path  /Network/Base
BEAUTIFY_ETC_HOSTS  path  /Network/Base/etc_hosts
CHECK_ETC_HOSTS  path  /Network/Base/etc_hosts
Conn_0  path  /Network/Base
NETDEV_0  path  /Network/Base/Conn_0
IFCONFIG_0  path  /Network/Base/Conn_0
IPADDR_0  path  /Network/Base/Conn_0
Conn_2  path  /Network/Base
NETDEV_2  path  /Network/Base/Conn_2
IPADDR_2  path  /Network/Base/Conn_2
IFCONFIG_2  path  /Network/Base/Conn_2
News  path  /Network/Base
ORGANIZATION  path  /Network/Base/News
NNTPSERVER  path  /Network/Base/News
Dns  path  /Network/Base
NAMESERVER  path  /Network/Base/Dns
SEARCHLIST  path  /Network/Base/Dns
CREATE_RESOLVCONF  path  /Network/Base/Dns
Ip  path  /Network/Base
ARGUS_LOGFILE  path  /Network/Base/Ip
ARGUS_INTERFACE  path  /Network/Base/Ip
IP_TCP_SYNCOOKIES  path  /Network/Base/Ip
IP_DYNIP  path  /Network/Base/Ip
IP_FORWARD  path  /Network/Base/Ip
Conn_3  path  /Network/Base
NETDEV_3  path  /Network/Base/Conn_3
IFCONFIG_3  path  /Network/Base/Conn_3
IPADDR_3  path  /Network/Base/Conn_3
Svga  path  /Hardware
SVGATEXTMODE  path  /Hardware/Svga
Power-Management  path  /Hardware
Ups  path  /Hardware/Power-Management
SMARTUPS_MODEL  path  /Hardware/Power-Management/Ups
GENERICUPS_MODEL  path  /Hardware/Power-Management/Ups
SMARTUPS_MASTER  path  /Hardware/Power-Management/Ups
SMARTUPS_DEVICE  path  /Hardware/Power-Management/Ups
Apmd  path  /Hardware/Power-Management
APMD_SUSPEND_ON_AC  path  /Hardware/Power-Management/Apmd
APMD_BATTERY_METADATA_TIMEOUT  path  /Hardware/Power-Management/Apmd
APMD_BATTERY_LOW_SHUTDOWN  path  /Hardware/Power-Management/Apmd
APMD_PCMCIA_EJECT_ON_SUSPEND  path  /Hardware/Power-Management/Apmd
APMD_WARN_LEVEL  path  /Hardware/Power-Management/Apmd
APMD_AC_DISK_TIMEOUT  path  /Hardware/Power-Management/Apmd
APMD_ADJUST_DISK_PERF  path  /Hardware/Power-Management/Apmd
APMD_WARN_STEP  path  /Hardware/Power-Management/Apmd
APMD_AC_DATA_TIMEOUT  path  /Hardware/Power-Management/Apmd
APMD_BATTERY_FILL_LEVEL  path  /Hardware/Power-Management/Apmd
APMD_PCMCIA_SUSPEND_ON_SUSPEND  path  /Hardware/Power-Management/Apmd
APMD_CHECK_TIME  path  /Hardware/Power-Management/Apmd
APMD_AC_METADATA_TIMEOUT  path  /Hardware/Power-Management/Apmd
APMD_LEAVE_X_BEFORE_SUSPEND  path  /Hardware/Power-Management/Apmd
APMD_STOP_SOUND_BEFORE_SUSPEND  path  /Hardware/Power-Management/Apmd
APMD_AC_FILL_LEVEL  path  /Hardware/Power-Management/Apmd
APMD_DEBUG  path  /Hardware/Power-Management/Apmd
APMD_WARN_ALL  path  /Hardware/Power-Management/Apmd
APMD_BATTERY_DATA_TIMEOUT  path  /Hardware/Power-Management/Apmd
APMD_LEAVE_X_BEFORE_STANDBY  path  /Hardware/Power-Management/Apmd
APMD_SET_CLOCK_ON_RESUME  path  /Hardware/Power-Management/Apmd
APMD_BATTERY_DISK_TIMEOUT  path  /Hardware/Power-Management/Apmd
Modem  path  /Hardware
MODEM  path  /Hardware/Modem
Keyboard  path  /Hardware
KBD_DELAY  path  /Hardware/Keyboard
KBD_NUMLOCK  path  /Hardware/Keyboard
KBD_RATE  path  /Hardware/Keyboard
KBD_CAPSLOCK  path  /Hardware/Keyboard
KBD_TTY  path  /Hardware/Keyboard
Infrared  path  /Hardware
IRDA_IRQ  path  /Hardware/Infrared
IRDA_PORT  path  /Hardware/Infrared
Mouse  path  /Hardware
MOUSE  path  /Hardware/Mouse
Usb  path  /Hardware
USB_HCI  path  /Hardware/Usb
USB_DRIVERS  path  /Hardware/Usb
Network-Card  path  /Hardware
NETCONFIG  path  /Hardware/Network-Card
Ide  path  /Hardware
IDEDMA_DEVICES  path  /Hardware/Ide
Pcmcia  path  /Hardware
PCMCIA_CORE_OPTS  path  /Hardware/Pcmcia
PCMCIA  path  /Hardware/Pcmcia
NETCONFIG_PCMCIA  path  /Hardware/Pcmcia
PCMCIA_PCIC_OPTS  path  /Hardware/Pcmcia
Filesystem  path  /Base-Administration
AUTOFS_OPTIONS  path  /Base-Administration/Filesystem
USE_DEVFS  path  /Base-Administration/Filesystem
Max-days-for  path  /Base-Administration
MAX_DAYS_IN_TMP  path  /Base-Administration/Max-days-for
MAX_DAYS_FOR_LOG_FILES  path  /Base-Administration/Max-days-for
MAX_DAYS_FOR_CORE  path  /Base-Administration/Max-days-for
Gpm  path  /Base-Administration
GPM_PARAM  path  /Base-Administration/Gpm
Login  path  /Base-Administration
KDM_GREETSTRING  path  /Base-Administration/Login
KDM_USERS  path  /Base-Administration/Login
KDM_SHUTDOWN  path  /Base-Administration/Login
DISPLAYMANAGER  path  /Base-Administration/Login
KDM_BACKGROUND  path  /Base-Administration/Login
SuSEConfig  path  /Base-Administration
SORT_PASSWD_BY_UID  path  /Base-Administration/SuSEConfig
MAIL_LEVEL  path  /Base-Administration/SuSEConfig
PERMISSION_SECURITY  path  /Base-Administration/SuSEConfig
MAIL_REPORTS_TO  path  /Base-Administration/SuSEConfig
CHECK_INITTAB  path  /Base-Administration/SuSEConfig
CHECK_PERMISSIONS  path  /Base-Administration/SuSEConfig
GENERATE_PERL_SYSTEM_INCLUDES  path  /Base-Administration/SuSEConfig
ENABLE_SUSECONFIG  path  /Base-Administration/SuSEConfig
HOW_TO_HANDLE_COMMERCIAL_LIBS  path  /Base-Administration/SuSEConfig
CREATE_PERLLOCAL_POD  path  /Base-Administration/SuSEConfig
Localisation  path  /Base-Administration
RC_LC_NUMERIC  path  /Base-Administration/Localisation
RC_LC_ALL  path  /Base-Administration/Localisation
ROOT_USES_LANG  path  /Base-Administration/Localisation
RC_LANG  path  /Base-Administration/Localisation
RC_LC_COLLATE  path  /Base-Administration/Localisation
RC_LC_TIME  path  /Base-Administration/Localisation
RC_LC_MONETARY  path  /Base-Administration/Localisation
TIMEZONE  path  /Base-Administration/Localisation
RC_LC_CTYPE  path  /Base-Administration/Localisation
LANGUAGE  path  /Base-Administration/Localisation
RC_LC_MESSAGES  path  /Base-Administration/Localisation
GMT  path  /Base-Administration/Localisation
Common-Basics  path  /Base-Administration
TMP_DIRS_TO_CLEAR  path  /Base-Administration/Common-Basics
OWNER_TO_KEEP_IN_TMP  path  /Base-Administration/Common-Basics
DELETE_OLD_CORE  path  /Base-Administration/Common-Basics
SYSLOGD_PARAMS  path  /Base-Administration/Common-Basics
INITRD_MODULES  path  /Base-Administration/Common-Basics
PATH  path  /Base-Administration/Common-Basics
KERNEL_LOGLEVEL  path  /Base-Administration/Common-Basics
CWD_IN_ROOT_PATH  path  /Base-Administration/Common-Basics
ENABLE_SYSRQ  path  /Base-Administration/Common-Basics
CREATE_HOSTCONF  path  /Base-Administration/Common-Basics
Rpm  path  /Base-Administration
MAX_RPMDB_BACKUPS  path  /Base-Administration/Rpm
RPMDB_BACKUP_DIR  path  /Base-Administration/Rpm
Time-synchronisation  path  /Base-Administration
XNTPD_INITIAL_NTPDATE  path  /Base-Administration/Time-synchronisation
Console  path  /Base-Administration
SER_CONSOLE_DEVICE  path  /Base-Administration/Console
CONSOLE_SCREENMAP  path  /Base-Administration/Console
CONSOLE_SHUTDOWN  path  /Base-Administration/Console
SER_CONSOLE_SCREENRC  path  /Base-Administration/Console
CONSOLE_UNICODEMAP  path  /Base-Administration/Console
KEYTABLE  path  /Base-Administration/Console
CONSOLE_MAGIC  path  /Base-Administration/Console
SER_CONSOLE_OWNER  path  /Base-Administration/Console
CONSOLE_FONT  path  /Base-Administration/Console
SERIAL_CONSOLE  path  /Base-Administration/Console
SER_CONSOLE_SESSION  path  /Base-Administration/Console
Mail-basics  path  /Mail
SMTP  path  /Mail/Mail-basics
FROM_HEADER  path  /Mail/Mail-basics
Sendmail  path  /Mail
SENDMAIL_EXPENSIVE  path  /Mail/Sendmail
SENDMAIL_RELAY  path  /Mail/Sendmail
SENDMAIL_NOCANONIFY  path  /Mail/Sendmail
SENDMAIL_TYPE  path  /Mail/Sendmail
SENDMAIL_LOCALHOST  path  /Mail/Sendmail
SENDMAIL_DIALUP  path  /Mail/Sendmail
SENDMAIL_NODNS  path  /Mail/Sendmail
SENDMAIL_ARGS  path  /Mail/Sendmail
SENDMAIL_GENERICS_DOMAIN  path  /Mail/Sendmail
SENDMAIL_SMARTHOST  path  /Mail/Sendmail
Postfix  path  /Mail
POSTFIX_CREATECF  path  /Mail/Postfix
POSTFIX_LOCALDOMAINS  path  /Mail/Postfix
POSTFIX_NODNS  path  /Mail/Postfix
POSTFIX_DIALUP  path  /Mail/Postfix
POSTFIX_RELAYHOST  path  /Mail/Postfix
POSTFIX_MAILDROP_MODE  path  /Mail/Postfix
POSTFIX_MASQUERADE_DOMAIN  path  /Mail/Postfix
POSTFIX_NULLCLIENT  path  /Mail/Postfix
Java  path  /Base-Applications
JAVARUNT_THREADS_TYPE  path  /Base-Applications/Java
JAVA_THREADS_TYPE  path  /Base-Applications/Java
Man-Info  path  /Base-Applications
CATMAN_ATIME  path  /Base-Applications/Man-Info
CREATE_INFO_DIR  path  /Base-Applications/Man-Info
REINIT_MANDB  path  /Base-Applications/Man-Info
DELETE_OLD_CATMAN  path  /Base-Applications/Man-Info
Updatedb  path  /Base-Applications
UPDATEDB_NETUSER  path  /Base-Applications/Updatedb
RUN_UPDATEDB_AS  path  /Base-Applications/Updatedb
UPDATEDB_PRUNEPATHS  path  /Base-Applications/Updatedb
UPDATEDB_NETPATHS  path  /Base-Applications/Updatedb
RUN_UPDATEDB  path  /Base-Applications/Updatedb
Groff  path  /Base-Applications
UPDATE_GROFF_CONF  path  /Base-Applications/Groff
GROFF_PAGESIZE  path  /Base-Applications/Groff
Postgres  path  /Base-Applications
POSTGRES_DATADIR  path  /Base-Applications/Postgres
POSTGRES_OPTIONS  path  /Base-Applications/Postgres
TeX  path  /Base-Applications
CLEAR_TEXMF_FONTS  path  /Base-Applications/TeX
Adabas  path  /Base-Applications
DBCONTROL  path  /Base-Applications/Adabas
DBNAME  path  /Base-Applications/Adabas
DBROOT  path  /Base-Applications/Adabas
DBUSER  path  /Base-Applications/Adabas
Start-Hardware  path  /Start-Variables
START_USB  path  /Start-Variables/Start-Hardware
START_PCP  path  /Start-Variables/Start-Hardware
START_ISAPNP  path  /Start-Variables/Start-Hardware
START_PCMCIA  path  /Start-Variables/Start-Hardware
START_LPD  path  /Start-Variables/Start-Hardware
START_IRDA  path  /Start-Variables/Start-Hardware
START_SMARTUPS  path  /Start-Variables/Start-Hardware
START_IDEDMA  path  /Start-Variables/Start-Hardware
START_APMD  path  /Start-Variables/Start-Hardware
Start-Security  path  /Start-Variables
START_NESSUSD  path  /Start-Variables/Start-Security
START_SNORT  path  /Start-Variables/Start-Security
START_SECUMOD  path  /Start-Variables/Start-Security
Start-Firewall  path  /Start-Variables
START_FW  path  /Start-Variables/Start-Firewall
Start-Administration  path  /Start-Variables
START_GPM  path  /Start-Variables/Start-Administration
START_ACCT  path  /Start-Variables/Start-Administration
START_QUOTA  path  /Start-Variables/Start-Administration
START_IDLED  path  /Start-Variables/Start-Administration
START_KERNELD  path  /Start-Variables/Start-Administration
START_AUTOFS  path  /Start-Variables/Start-Administration
Unarranged  path  /Start-Variables
START_SNMPD  path  /Start-Variables/Unarranged
START_DPBOX  path  /Start-Variables/Unarranged
START_QMASTER  path  /Start-Variables/Unarranged
START_PPTPD  path  /Start-Variables/Unarranged
START_CIPED  path  /Start-Variables/Unarranged
START_UNI  path  /Start-Variables/Unarranged
START_FBB  path  /Start-Variables/Unarranged
Start-Applications  path  /Start-Variables
START_DQSEXECD  path  /Start-Variables/Start-Applications
XFSTT_START  path  /Start-Variables/Start-Applications
START_IDS  path  /Start-Variables/Start-Applications
START_WWWOFFLE  path  /Start-Variables/Start-Applications
START_ARKEIA  path  /Start-Variables/Start-Applications
START_YIFF  path  /Start-Variables/Start-Applications
CRON  path  /Start-Variables/Start-Applications
START_MYSQL  path  /Start-Variables/Start-Applications
START_ADABAS  path  /Start-Variables/Start-Applications
START_POSTGRES  path  /Start-Variables/Start-Applications
START_ATD  path  /Start-Variables/Start-Applications
Start-Mail  path  /Start-Variables
START_POSTFIX  path  /Start-Variables/Start-Mail
Start-Network  path  /Start-Variables
START_PLIP  path  /Start-Variables/Start-Network
START_NTOPD  path  /Start-Variables/Start-Network
START_RSTATD  path  /Start-Variables/Start-Network
PPPD_DOD_START  path  /Start-Variables/Start-Network
START_XNTPD  path  /Start-Variables/Start-Network
START_IDENTD  path  /Start-Variables/Start-Network
START_YPXFRD  path  /Start-Variables/Start-Network
START_QUEUED  path  /Start-Variables/Start-Network
START_IPPL  path  /Start-Variables/Start-Network
START_SCANLOGD  path  /Start-Variables/Start-Network
START_BAYCOMEPP  path  /Start-Variables/Start-Network
START_RX  path  /Start-Variables/Start-Network
START_UNDERSTUDY  path  /Start-Variables/Start-Network
START_RUSERSD  path  /Start-Variables/Start-Network
START_ROUTED  path  /Start-Variables/Start-Network
START_DHCRELAY  path  /Start-Variables/Start-Network
START_LOOPBACK  path  /Start-Variables/Start-Network
START_HYLAFAX  path  /Start-Variables/Start-Network
START_ARGUS  path  /Start-Variables/Start-Network
START_IPSEC  path  /Start-Variables/Start-Network
START_PORTMAP  path  /Start-Variables/Start-Network
START_NSCD  path  /Start-Variables/Start-Network
START_DHCPD  path  /Start-Variables/Start-Network
START_ADSL  path  /Start-Variables/Start-Network
I4L_START  path  /Start-Variables/Start-Network
START_RINETD  path  /Start-Variables/Start-Network
START_YPPASSWDD  path  /Start-Variables/Start-Network
START_YPSERV  path  /Start-Variables/Start-Network
START_LDAP  path  /Start-Variables/Start-Network
START_YPBIND  path  /Start-Variables/Start-Network
START_SLURPD  path  /Start-Variables/Start-Network
START_RWHOD  path  /Start-Variables/Start-Network
Start-Network-Services  path  /Start-Variables
START_AOLSERVER  path  /Start-Variables/Start-Network-Services
START_NAMED  path  /Start-Variables/Start-Network-Services
START_INETD  path  /Start-Variables/Start-Network-Services
START_APRSD  path  /Start-Variables/Start-Network-Services
START_NETPLAN  path  /Start-Variables/Start-Network-Services
START_BWNFSD  path  /Start-Variables/Start-Network-Services
START_ROXEN  path  /Start-Variables/Start-Network-Services
START_INN  path  /Start-Variables/Start-Network-Services
START_RADIUSD  path  /Start-Variables/Start-Network-Services
START_PCNFSD  path  /Start-Variables/Start-Network-Services
START_IRCD  path  /Start-Variables/Start-Network-Services
START_SMB  path  /Start-Variables/Start-Network-Services
START_SSHD  path  /Start-Variables/Start-Network-Services
START_ZOPE  path  /Start-Variables/Start-Network-Services
START_SOCKD  path  /Start-Variables/Start-Network-Services
START_THTTPD  path  /Start-Variables/Start-Network-Services
START_SQUID  path  /Start-Variables/Start-Network-Services
START_XINETD  path  /Start-Variables/Start-Network-Services
START_HTTPD  path  /Start-Variables/Start-Network-Services
START_WEBGW  path  /Start-Variables/Start-Network-Services
START_ATALK  path  /Start-Variables/Start-Network-Services
START_MARSNWE  path  /Start-Variables/Start-Network-Services
START_PROFTPD  path  /Start-Variables/Start-Network-Services
